name: Rom-Builder

on:
  push:
    branches: [ main ]

env:
  tg_token: ${{ secrets.TG_TOKEN }}
  tg_id: ${{ secrets.TG_CHAT_ID }}

jobs:
  build:
    name: Rom-Builder
    runs-on: ubuntu-latest

    steps:
    - name: Clone repo & checkout code
      uses: actions/checkout@v2

    - name: Notif Start
      run: |
        curl -s -X POST "https://api.telegram.org/bot${tg_token}/sendMessage" -d chat_id="${tg_id}" -d "disable_web_page_preview=true" -d "parse_mode=html" -d text="===================================%0A        ❗<b>Rom-Builder tool started</b>❗%0A==================================="

  deploy-juice:
    name: POCO M3/9T
    needs: build
    runs-on: ubuntu-latest
    if: github.actor == 'c3eru'
    steps:
    - name: Clone Script..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          export device="juice" # Change to your Device code name
          export git_name="NFS-projects" # Change to your github username
          export git_repo="Rom-Builder" # Change to your github repo name
          export git_branch="main" # Change to your github branch name
          export git_script_name="build.sh" # Change to your script command build name
          mkdir -p $my_dir/script/$device
          cd $my_dir/script/$device
          rm -rf *
          wget https://raw.githubusercontent.com/${git_name}/${git_repo}/${git_branch}/${device}/${git_script_name}

    - name: Sync Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          export device="juice" # Change to your Device code name
          export device_model="POCO M3/9T (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export command="$(head $my_dir/script/$device/build.sh -n $(expr $(grep '# build rom' $my_dir/script/$device/build.sh -n | cut -f1 -d:) - 1))"
          export only_sync=$(grep 'repo sync' $my_dir/script/$device/build.sh)
          mkdir -p $my_dir/$rom_name
          cd $my_dir/$rom_name
          rm -rf .repo/local_manifests
          rm -rf sync.log
          bash -c "$command" |& tee -a $HOME/$rom_name/sync.log || true
          a=$(grep 'Cannot remove project' sync.log -m1|| true)
          b=$(grep "^fatal: remove-project element specifies non-existent project" sync.log -m1 || true)
          c=$(grep 'repo sync has finished' sync.log -m1 || true)
          d=$(grep 'Failing repos:' sync.log -n -m1 || true)
          e=$(grep 'fatal: Unable' sync.log || true)
          f=$(grep 'error.GitError' sync.log || true)
          g=$(grep 'error: Cannot checkout' sync.log || true)
          h=$(grep 'error: Downloading network changes failed.' sync.log || true)
          if [[ $a == *'Cannot remove project'* ]]
          then
          a=$(echo $a | cut -d ':' -f2 | tr -d ' ')
          rm -rf $a
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $b == *'remove-project element specifies non-existent'* ]]
          then exit 1
          elif [[ $c == *'repo sync has finished'* ]]
          then true
          elif [[ $d == *'Failing repos:'* ]]
          then
          d=$(expr $(grep 'Failing repos:' sync.log -n -m 1| cut -d ':' -f1) + 1)
          d2=$(expr $(grep 'Try re-running' sync.log -n -m1 | cut -d ':' -f1) - 1 )
          fail_paths=$(head -n $d2 sync.log | tail -n +$d)
          for path in $fail_paths
          do
          rm -rf $path
          aa=$(echo $path|awk -F '/' '{print $NF}')
          rm -rf .repo/project-objects/*$aa.git
          rm -rf .repo/projects/$path.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $e == *'fatal: Unable'* ]]
          then
          fail_paths=$(grep 'fatal: Unable' sync.log | cut -d ':' -f2 | cut -d "'" -f2)
          for path in $fail_paths
          do
          rm -rf $path
          aa=$(echo $path|awk -F '/' '{print $NF}')
          rm -rf .repo/project-objects/*$aa.git
          rm -rf .repo/project-objects/$path.git
          rm -rf .repo/projects/$path.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $f == *'error.GitError'* ]]
          then
          rm -rf $(grep 'error.GitError' sync.log | cut -d ' ' -f2)
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $g == *'error: Cannot checkout'* ]]
          then
          echo hi
          coerr=$(grep 'error: Cannot checkout' sync.log | cut -d ' ' -f 4| tr -d ':')
          for i in $coerr
          do
          rm -rf .repo/project-objects/$i.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $h == *'error: Downloading network changes failed.'* ]]
          then
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j4
          else
          exit 1
          fi
          rm -rf sync.log

    - name: Building Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          export my_dir="$HOME"
          export device="juice" # Change to your Device code name
          export device_model="POCO M3/9T (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export command="$(tail $my_dir/script/$device/build.sh -n +$(expr $(grep '# build rom' $my_dir/script/$device/build.sh -n | cut -f1 -d:) - 1)| head -n -1 | grep -v '# end')"
          export rel_date="$(date "+%Y%m%d")"
          cd $my_dir/$rom_name
          export ALLOW_MISSING_DEPENDENCIES=true
          export CCACHE_EXEC=/usr/bin/ccache
          export USE_CCACHE=1
          ccache -o compression=true
          ccache -o compression_level=1
          ccache -o max_size=150G
          ccache -z
          bash -c "$command" |& tee -a $HOME/$rom_name/build.log || true
          a=$(grep 'FAILED:' build.log -m1 || true)
          if [[ $a == *'FAILED:'* ]]
          then
          curl -s -X POST "https://api.telegram.org/bot${tg_token}/sendMessage" -d chat_id="${tg_id}" -d "disable_web_page_preview=true" -d "parse_mode=html" -d text="<code>${device_model} Build $rom_name</code> <b>Error.</b>[❌]"
          curl -F document=@build.log "https://api.telegram.org/bot${tg_token}/sendDocument" -F chat_id="${tg_id}" -F "disable_web_page_preview=true" -F "parse_mode=html"
          rm -rf build.log
          exit 1
          fi
          rm -rf build.log

    - name: Upload Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        command: |
          export my_dir="$HOME"
          export device=juice # Change to your Device code name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export rel_date="$(date "+%Y%m%d")"
          export output="out/target/product/$device/*$rel_date*.zip"
          export shasum="out/target/product/$device/*$rel_date*.zip*sha*"
          export ota="out/target/product/$device/*ota*.zip"
          cd $my_dir/$rom_name
          rm -rf $shasum
          rm -rf $ota
          rclone copy --drive-chunk-size 256M --stats 1s $output NFS86:$device/$rom_name -P

    - name: Send notif..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          export my_dir="$HOME"
          export device="juice" # Change to your Device code name
          export device_model="POCO M3/9T (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export rel_date="$(date "+%Y%m%d")"
          export output="out/target/product/$device/*$rel_date*.zip"
          export ota="out/target/product/$device/*ota*.zip"
          cd $my_dir/$rom_name
          curl -s -X POST "https://api.telegram.org/bot${tg_token}/sendMessage" -d chat_id="${tg_id}" -d "disable_web_page_preview=true" -d "parse_mode=html" -d text="<code>${device_model} Build $rom_name:</code> <b>Succes.</b>[✅]%0A %0A<b>Download link:</b> https://rombuilder.projek.workers.dev/$device/$rom_name/$(cd out/target/product/$device && ls *$rel_date*.zip)"
          rm -rf $my_dir/$rom_name/out/target/product/$device
          cd $my_dir
          rm -rf .repo*

  deploy-rosy:
    name: Redmi 5 (rosy)
    needs: build
    runs-on: ubuntu-latest
    if: github.actor == 'NFS86'
    steps:
    - name: Clone Script..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          export device="rosy" # Change to your Device code name
          export git_name="NFS-projects" # Change to your github username
          export git_repo="Rom-Builder" # Change to your github repo name
          export git_branch="main" # Change to your github branch name
          export git_script_name="build.sh" # Change to your script command build name
          mkdir -p $my_dir/script/$device
          cd $my_dir/script/$device
          rm -rf *
          wget https://raw.githubusercontent.com/${git_name}/${git_repo}/${git_branch}/${device}/${git_script_name}

    - name: Sync Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          export device="rosy" # Change to your Device code name
          export device_model="Redmi 5 (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export command="$(head $my_dir/script/$device/build.sh -n $(expr $(grep '# build rom' $my_dir/script/$device/build.sh -n | cut -f1 -d:) - 1))"
          export only_sync=$(grep 'repo sync' $my_dir/script/$device/build.sh)
          mkdir -p $my_dir/$rom_name
          cd $my_dir/$rom_name
          rm -rf .repo/local_manifests
          rm -rf sync.log
          bash -c "$command" |& tee -a $HOME/$rom_name/sync.log || true
          a=$(grep 'Cannot remove project' sync.log -m1|| true)
          b=$(grep "^fatal: remove-project element specifies non-existent project" sync.log -m1 || true)
          c=$(grep 'repo sync has finished' sync.log -m1 || true)
          d=$(grep 'Failing repos:' sync.log -n -m1 || true)
          e=$(grep 'fatal: Unable' sync.log || true)
          f=$(grep 'error.GitError' sync.log || true)
          g=$(grep 'error: Cannot checkout' sync.log || true)
          h=$(grep 'error: Downloading network changes failed.' sync.log || true)
          if [[ $a == *'Cannot remove project'* ]]
          then
          a=$(echo $a | cut -d ':' -f2 | tr -d ' ')
          rm -rf $a
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $b == *'remove-project element specifies non-existent'* ]]
          then exit 1
          elif [[ $c == *'repo sync has finished'* ]]
          then true
          elif [[ $d == *'Failing repos:'* ]]
          then
          d=$(expr $(grep 'Failing repos:' sync.log -n -m 1| cut -d ':' -f1) + 1)
          d2=$(expr $(grep 'Try re-running' sync.log -n -m1 | cut -d ':' -f1) - 1 )
          fail_paths=$(head -n $d2 sync.log | tail -n +$d)
          for path in $fail_paths
          do
          rm -rf $path
          aa=$(echo $path|awk -F '/' '{print $NF}')
          rm -rf .repo/project-objects/*$aa.git
          rm -rf .repo/projects/$path.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $e == *'fatal: Unable'* ]]
          then
          fail_paths=$(grep 'fatal: Unable' sync.log | cut -d ':' -f2 | cut -d "'" -f2)
          for path in $fail_paths
          do
          rm -rf $path
          aa=$(echo $path|awk -F '/' '{print $NF}')
          rm -rf .repo/project-objects/*$aa.git
          rm -rf .repo/project-objects/$path.git
          rm -rf .repo/projects/$path.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $f == *'error.GitError'* ]]
          then
          rm -rf $(grep 'error.GitError' sync.log | cut -d ' ' -f2)
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $g == *'error: Cannot checkout'* ]]
          then
          echo hi
          coerr=$(grep 'error: Cannot checkout' sync.log | cut -d ' ' -f 4| tr -d ':')
          for i in $coerr
          do
          rm -rf .repo/project-objects/$i.git
          done
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j$(nproc --all)
          elif [[ $h == *'error: Downloading network changes failed.'* ]]
          then
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune --force-sync -j4
          else
          exit 1
          fi
          rm -rf sync.log

    - name: Building Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          export my_dir="$HOME"
          export device="rosy" # Change to your Device code name
          export device_model="Redmi 5 (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export command="$(tail $my_dir/script/$device/build.sh -n +$(expr $(grep '# build rom' $my_dir/script/$device/build.sh -n | cut -f1 -d:) - 1)| head -n -1 | grep -v '# end')"
          export rel_date="$(date "+%Y%m%d")"
          cd $my_dir/$rom_name
          export ALLOW_MISSING_DEPENDENCIES=true
          export CCACHE_EXEC=/usr/bin/ccache
          export USE_CCACHE=1
          ccache -o compression=true
          ccache -o compression_level=1
          ccache -o max_size=150G
          ccache -z
          bash -c "$command" |& tee -a $HOME/$rom_name/build.log || true
          a=$(grep 'FAILED:' build.log -m1 || true)
          if [[ $a == *'FAILED:'* ]]
          then
          curl -s -X POST "https://api.telegram.org/bot${tg_token}/sendMessage" -d chat_id="${tg_id}" -d "disable_web_page_preview=true" -d "parse_mode=html" -d text="<code>${device_model} Build $rom_name</code> <b>Error.</b>[❌]"
          curl -F document=@build.log "https://api.telegram.org/bot${tg_token}/sendDocument" -F chat_id="${tg_id}" -F "disable_web_page_preview=true" -F "parse_mode=html"
          rm -rf build.log
          exit 1
          fi
          rm -rf build.log

    - name: Upload Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        command: |
          export my_dir="$HOME"
          export device=rosy # Change to your Device code name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export rel_date="$(date "+%Y%m%d")"
          export output="out/target/product/$device/*$rel_date*.zip"
          export shasum="out/target/product/$device/*$rel_date*.zip*sha*"
          export ota="out/target/product/$device/*ota*.zip"
          cd $my_dir/$rom_name
          rm -rf $shasum
          rm -rf $ota
          rclone copy --drive-chunk-size 256M --stats 1s $output NFS86:$device/$rom_name -P

    - name: Send notif..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          export my_dir="$HOME"
          export device="rosy" # Change to your Device code name
          export device_model="Redmi 5 (${device})" # Change to your Device model name
          export rom_name="$(grep init $my_dir/script/$device/build.sh -m 1 | cut -d / -f 4)"
          export rel_date="$(date "+%Y%m%d")"
          export output="out/target/product/$device/*$rel_date*.zip"
          export ota="out/target/product/$device/*ota*.zip"
          cd $my_dir/$rom_name
          curl -s -X POST "https://api.telegram.org/bot${tg_token}/sendMessage" -d chat_id="${tg_id}" -d "disable_web_page_preview=true" -d "parse_mode=html" -d text="<code>${device_model} Build $rom_name:</code> <b>Succes.</b>[✅]%0A %0A<b>Download link:</b> https://rombuilder.projek.workers.dev/$device/$rom_name/$(cd out/target/product/$device && ls *$rel_date*.zip)"
          rm -rf $my_dir/$rom_name/out/target/product/$device
          cd $my_dir
          rm -rf .repo*
