name: Rom-Builder

on:
  push:
    branches: [ main ]

jobs:
  deploy-juice:
    name: POCO M3/9T
    runs-on: ubuntu-latest
    if: github.actor == 'c3eru'
    timeout-minutes: 360
    steps:
    - name: Clone Script..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          mkdir -p $my_dir/script
          cd $my_dir/script
          export device="juice"
          rm -rf *
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/sync.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/building.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/upload.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/notif.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/$device/build_rom.sh

    - name: Sync Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/sync.sh

    - name: Building Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/building.sh

    - name: Upload Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        command: |
          bash $HOME/script/upload.sh

    - name: Send notif..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/notif.sh

############################################################

  deploy-rosy:
    name: Redmi 5
    runs-on: ubuntu-latest
    if: github.actor == 'NFS86'
    timeout-minutes: 360
    steps:
    - name: Clone Script..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          my_dir="$HOME"
          mkdir -p $my_dir/script
          cd $my_dir/script
          export device="rosy"
          rm -rf *
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/sync.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/building.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/upload.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/script/notif.sh
          wget https://raw.githubusercontent.com/NFS-projects/Rom-Builder/main/$device/build_rom.sh

    - name: Sync Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/sync.sh

    - name: Building Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/building.sh

    - name: Upload Rom..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        command: |
          bash $HOME/script/upload.sh

    - name: Send notif..
      uses: NFS86/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        user: medusa
        pass: ${{ secrets.PASSWORD }}
        args: "-tt"
        command: |
          bash $HOME/script/notif.sh
